
@{
    ViewData["Title"] = "DetailDay";
}
@model Worky.Models.Calendar.DetailDayEventsModel

 
<a>@Model.Day.Date.Year</a><a>@Model.Day.Date.Month</a><a>@Model.Day.Date.Day</a>
<hr />

<div>
    @foreach(Worky.Models.Calendar.ICallendarEvent Event in @Model.DailyEvents)
    {
        <div>
            <a>@Event.Name</a>
            <a>@Event.Start</a>
            <a>@Event.Name</a>
        </div>

    }
</div>


