@model Worky.Models.Project.ProjectModel

 
@{
    Layout = "_Layout";
}
<head>
        
      <link rel="stylesheet" href="~/css/ProjectMenu.css" />
        <link rel="stylesheet" href="~/css/TextStyles.css" />
         <script>
            function OpenLink(link)
            {
               
                location.href=link;
                //window.open('/Project/Index?ProjectId='+id);
            }
        </script>
</head>

<div>
    <div style="display:grid; grid-template-columns:1fr 90px; ">
        <h1 style="text-align:left;">@Model.Name</h1>
        <a  href="/Projects/EditProject?id=@Model.Id" class="Dbtn"style="color:black; text-align:right;" >Изменить</a>
    </div>

<hr />  

 
 

    <div>
    
        <dl class="row">
            <dt class = "col-sm-2">
               <input asp-for="Id" hidden />
          
            </dt>
       
        </dl>
    </div>
    <div>
        <div class="DGrid ">

            @foreach(Worky.Models.Project.ProjectInsrutemst i in @Model.insrutemsts)
            {
                 <div class="DgridCard DCard DCardPadding"  onclick="OpenLink('@i.LinkToAction')">
                    <div style="display:flex; flex-direction:column">
                        <a class="linkFont TextHeader" >@i.Name</a>
                        <a>@i.Description</a>
                    </div>
                 </div>
            }
          
    

        </div>
    </div>

</div>

 

